<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
          SoccerScraper
        </title>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="index.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
    </head>
    <body >

<div class="navbar">
            <a href="">Soccer Scrapper API</a>
</div>
<div class="container">
    
        <div id="About_Me" class="about">
            <div class="title">Live standings of top 5 European Leagues</div>
            <div class="intro">
                <ul>
             <li>
                <a href="https://soccer-scrapper.herokuapp.com/standings/premier-league">England : Premier League</a>
                <code><br>   /standings/premier-league</code>     
             </li>
             <li>
                 <a href="https://soccer-scrapper.herokuapp.com/standings/la-liga">Spain   : La-Liga</a>
                 <code> <br>      /standings/la-liga</code> 
             </li>
             <li>
                <a href="https://soccer-scrapper.herokuapp.com/standings/serie-a">Italy   : Serie-A</a>
                <code><br> /standings/serie-a</code> 
            </li>
            <li>
                <a href="https://soccer-scrapper.herokuapp.com/standings/bundesliga">Germany : Bundesliga</a>
                <code><br> /standings/bundesliga</code> 
            </li>
            <li>
                <a href="https://soccer-scrapper.herokuapp.com/standings/ligue-1">France  : Ligue-1</a>
                <code><br> /standings/ligue-1</code> 
            </li>
            
            </ul>
            </div>
          
          <div class="tag" ><a href="https://suhascv.netlify.app">by suhascv</a></div>
        </div>    
 
    </body>

</html>